In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
data = pd.read_csv('car data.csv')
data

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
print(data.head())

  Car_Name  Year  Selling_Price  Present_Price  Driven_kms Fuel_Type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol
3  wagon r  2011           2.85           4.15        5200    Petrol
4    swift  2014           4.60           6.87       42450    Diesel

  Selling_type Transmission  Owner
0       Dealer       Manual      0
1       Dealer       Manual      0
2       Dealer       Manual      0
3       Dealer       Manual      0
4       Dealer       Manual      0

In [6]:
X = data.drop('Selling_Price', axis=1)
y = data['Selling_Price']
X
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [7]:
X = pd.get_dummies(X, drop_first=True)
X

,Year,Present_Price,Driven_kms,Owner,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,Car_Name_Bajaj Avenger 220,...,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
0,2014,5.59,27000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
1,2013,9.54,43000,0,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,True
2,2017,9.85,6900,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,2011,4.15,5200,0,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True
4,2014,6.87,42450,0,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,11.60,33988,0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
297,2015,5.90,60000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
298,2009,11.00,87934,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
299,2017,12.50,9000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
300,2016,5.90,5464,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [10]:
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [16]:
y_pred = model.predict(X_test)
y_pred

array([ 0.427 , 10.605 ,  4.9935,  0.2069,  7.4838,  6.774 ,  1.122 ,
        0.5849,  0.4594,  6.677 ,  7.8239,  1.1044,  8.2288,  0.4587,
        5.3155,  2.56  ,  1.118 , 14.2735,  0.4661,  1.5655,  0.3226,
        7.6904,  4.7705,  2.684 ,  0.5115,  3.4725,  5.302 ,  3.1635,
        1.1857,  1.1703,  0.402 ,  8.851 ,  0.4707,  2.6094,  7.88  ,
        4.002 ,  6.4635,  5.7573,  2.479 ,  6.3825,  4.6516,  3.7196,
        4.714 ,  0.5577,  6.199 ,  0.72  ,  8.225 ,  6.5385,  2.9335,
        3.5735,  4.9545,  1.5145, 22.8845, 20.8838,  6.573 , 10.1089,
        5.135 ,  8.6352,  2.8954,  6.6454,  0.2228])

In [17]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mse
r2

0.9673373873539192

In [13]:
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 0.7524023742622952
R^2 Score: 0.9673373873539192

In [19]:
importances = model.feature_importances_
indices = np.argsort(importances)[::-1]
importances
indices

array([  1,   0,   2,  91, 104,  84, 101,  72,  89,  74, 103, 102,  70,
        75,  97,   3,  77,  71,  90,  80,  67,  79,  87,  69,  78,  76,
        82,  99,  96,  95,  85,  93,  66,  81,  86,  83,  40, 100,  42,
        61,   9,  88,  46,  14,  50,   6,  25,  52,  45,  68,  63,  29,
        54,  17,  44,  51,  26,  55,  18,  36,  48,  49,  19,  62,  10,
        56,  23,  65,  30,  38,  60,  92,   8,   7,  34,  53,  35,  22,
        11,  13,   4,  28,  47,  39,  43,  16,  32,  31,  24,  27,  58,
        12,  21,  57,  20,  64,  59,  98,  41,  15,   5,  33,  73,  94,
        37], dtype=int64)

In [15]:
print("Feature ranking:")
for f in range(X.shape[1]):
    print(f"{f + 1}. feature {X.columns[indices[f]]} ({importances[indices[f]]})")

Feature ranking:
1. feature Present_Price (0.8681459361998995)
2. feature Year (0.05989165894323311)
3. feature Driven_kms (0.031911192733721165)
4. feature Car_Name_land cruiser (0.007771825088183148)
5. feature Transmission_Manual (0.0061673684383305475)
6. feature Car_Name_fortuner (0.005539958296621891)
7. feature Fuel_Type_Diesel (0.0036183569793866257)
8. feature Car_Name_city (0.00342867622647917)
9. feature Car_Name_innova (0.002788083876708219)
10. feature Car_Name_corolla altis (0.002463214136006484)
11. feature Selling_type_Individual (0.0023084965677123963)
12. feature Fuel_Type_Petrol (0.0013654816226583927)
13. feature Car_Name_camry (0.0010419240966598633)
14. feature Car_Name_creta (0.0007151121210405713)
15. feature Car_Name_verna (0.0006700611813265298)
16. feature Owner (0.00036570024224492025)
17. feature Car_Name_elantra (0.00032522974733552854)
18. feature Car_Name_ciaz (0.0002962408998424205)
19. feature Car_Name_jazz (0.0002420263407136829)
20. feature Car_Name_etios cross (0.00015508593760557067)
21. feature Car_Name_amaze (0.00013293197668580873)
22. feature Car_Name_ertiga (9.847834974654744e-05)
23. feature Car_Name_i20 (8.685578963639607e-05)
24. feature Car_Name_brio (5.866367696042901e-05)
25. feature Car_Name_eon (5.849770206872068e-05)
26. feature Car_Name_dzire (4.5420125418535775e-05)
27. feature Car_Name_etios gd (4.2899773458705365e-05)
28. feature Car_Name_wagon r (3.5427155601337484e-05)
29. feature Car_Name_sx4 (3.481180504769342e-05)
30. feature Car_Name_swift (2.8220460075179964e-05)
31. feature Car_Name_grand i10 (2.190998846450912e-05)
32. feature Car_Name_ritz (1.9655925861863292e-05)
33. feature Car_Name_alto k10 (1.873982717346985e-05)
34. feature Car_Name_etios g (1.8394335455918953e-05)
35. feature Car_Name_i10 (1.787885068637727e-05)
36. feature Car_Name_etios liva (1.504373715910661e-05)
37. feature Car_Name_Honda CBR 150 (1.0938842073594889e-05)
38. feature Car_Name_xcent (9.605533356948232e-06)
39. feature Car_Name_Honda Karizma (3.260907356390465e-06)
40. feature Car_Name_Yamaha FZ 16 (2.643828106384053e-06)
41. feature Car_Name_Bajaj Avenger 220 (2.5077776534015373e-06)
42. feature Car_Name_ignis (2.1610844127506776e-06)
43. feature Car_Name_KTM RC390 (1.7794835582462028e-06)
44. feature Car_Name_Bajaj Dominar 400 (1.7669270339881102e-06)
45. feature Car_Name_Royal Enfield Classic 500 (1.6768424497420808e-06)
46. feature Car_Name_Bajaj  ct 100 (1.4733646424892208e-06)
47. feature Car_Name_Hero Honda CBZ extreme (1.4109460412474992e-06)
48. feature Car_Name_Royal Enfield Thunder 500 (1.2554923219522123e-06)
49. feature Car_Name_KTM RC200 (1.1299692452886488e-06)
50. feature Car_Name_baleno (1.0969896650073422e-06)
51. feature Car_Name_Yamaha FZ S V 2.0 (8.8423068777898e-07)
52. feature Car_Name_Hero Passion X pro (8.615713633368588e-07)
53. feature Car_Name_TVS Apache RTR 160 (7.312439686521914e-07)
54. feature Car_Name_Bajaj Pulsar 150 (6.407892097585144e-07)
55. feature Car_Name_KTM 390 Duke  (6.24456268522178e-07)
56. feature Car_Name_Royal Enfield Thunder 350 (5.957594344828371e-07)
57. feature Car_Name_Hero Honda Passion Pro (5.683921088379033e-07)
58. feature Car_Name_TVS Apache RTR 180 (5.135253685897873e-07)
59. feature Car_Name_Bajaj Pulsar 220 F (4.6458434893077025e-07)
60. feature Car_Name_Honda CB Shine (4.1300444552343305e-07)
61. feature Car_Name_Royal Enfield Bullet 350 (4.100850180010715e-07)
62. feature Car_Name_Royal Enfield Classic 350 (4.047493288592184e-07)
63. feature Car_Name_Bajaj Pulsar NS 200 (3.6440788050879263e-07)
64. feature Car_Name_Yamaha FZ S  (3.624064424410349e-07)
65. feature Car_Name_Bajaj Avenger 220 dtsi (3.5070204325212347e-07)
66. feature Car_Name_TVS Jupyter (3.4546885050237036e-07)
67. feature Car_Name_Hero Extreme (3.2259023862710973e-07)
68. feature Car_Name_alto 800 (2.9903902186714734e-07)
69. feature Car_Name_Hero Splender Plus (2.797564083848932e-07)
70. feature Car_Name_Honda CB Unicorn (2.784497270231019e-07)
71. feature Car_Name_Yamaha FZ  v 2.0 (2.2123245268553416e-07)
72. feature Car_Name_omni (2.0932491580822707e-07)
73. feature Car_Name_Bajaj Avenger 150 street (1.9887254132773186e-07)
74. feature Car_Name_Bajaj Avenger 150 (1.7500576091521066e-07)
75. feature Car_Name_Honda Activa 4G (1.4136076354155407e-07)
76. feature Car_Name_Suzuki Access 125 (1.197726765298837e-07)
77. feature Car_Name_Honda CB Hornet 160R (1.1747152464610685e-07)
78. feature Car_Name_Hero  Ignitor Disc (1.0357707976564576e-07)
79. feature Car_Name_Bajaj Avenger Street 220 (1.0331243970797192e-07)
80. feature Car_Name_Bajaj Discover 125 (9.004779603689979e-08)
81. feature Car_Name_Activa 3g (7.379011495429633e-08)
82. feature Car_Name_Hero Passion Pro (7.275426267105191e-08)
83. feature Car_Name_Mahindra Mojo XT300 (7.156894239443264e-08)
84. feature Car_Name_Honda CB twister (7.035100206251283e-08)
85. feature Car_Name_Hyosung GT250R (6.569249357822421e-08)
86. feature Car_Name_Bajaj Pulsar 135 LS (5.935901527743109e-08)
87. feature Car_Name_Hero Super Splendor (5.271622733454512e-08)
88. feature Car_Name_Hero Splender iSmart (4.729885897197477e-08)
89. feature Car_Name_Hero Glamour (3.8184021981226825e-08)
90. feature Car_Name_Hero Hunk (3.486649627444633e-08)
91. feature Car_Name_TVS Wego (1.7830357270610674e-08)
92. feature Car_Name_Bajaj Discover 100 (1.4023964389034694e-08)
93. feature Car_Name_Hero  CBZ Xtreme (8.501022885468389e-09)
94. feature Car_Name_TVS Sport  (7.962348567263256e-09)
95. feature Car_Name_Bajaj Pulsar RS200 (2.7676286970220665e-09)
96. feature Car_Name_Yamaha Fazer  (0.0)
97. feature Car_Name_UM Renegade Mojave (0.0)
98. feature Car_Name_vitara brezza (0.0)
99. feature Car_Name_Honda Dream Yuga  (0.0)
100. feature Car_Name_Bajaj Pulsar  NS 200 (0.0)
101. feature Car_Name_Activa 4g (0.0)
102. feature Car_Name_Honda Activa 125 (0.0)
103. feature Car_Name_corolla (0.0)
104. feature Car_Name_s cross (0.0)
105. feature Car_Name_Honda CB Trigger (0.0)